pkgbase = ivi-cli
	pkgdesc = Integrated CLI for managing, diagnosing, and operating VISA/IVI instruments
	pkgver = 0.3.2
	pkgrel = 1
	url = https://github.com/ShortArrow/ivi-cli
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = dotnet-sdk
	depends = aspnet-runtime
	conflicts = ivi-cli-bin
	options = !debug
	source = ivi-cli-0.3.2.tar.gz::https://github.com/ShortArrow/ivi-cli/archive/refs/tags/v0.3.2.tar.gz
	sha256sums = f74cebde2b2bb908642a8179e30f31745a706d959df497b5b633b7f46a43c087

pkgname = ivi-cli
